.app-header {
    background-color: #282c34;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .app-status {
    font-size: large;
    margin-bottom: 20px;
  }
  
  .app-controls {
    margin-top: 20px;
    text-align: center;
  }
  
  .app-controls button {
    margin-right: 10px;
  }